<!DOCTYPE html>
<html>
<head>
  <title>VJ Filming Company</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
<% if user_signed_in? %>
  Signed in as <%= current_user.email   %>. Not you?
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% else  %>
  <%= link_to 'Sign up', new_user_registration_path  %> or <%= link_to 'Sign in', new_user_session_path  %>
<% end  %>
</div>

<%= yield %>

</body>
</html>
